<form action="/productos" method="post">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Titulo" name="title">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Precio" name="price">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Url Imagen" name="url">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
        </div>
    </div>
</form>