<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Desafio05 - Handlebars</title>
</head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <img src="https://handlebarsjs.com/images/handlebars_logo.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
                            Desafio Handlebars
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/">Formulario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">Productos</a>
                    </li>
                    
                </ul>
            </div>


        </nav>
        <div class="container mt-5">
            {{{body}}}
        </div>

    </body>
</html>